*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #32a8bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #23242a;
}

.box {
  padding: 2rem;
  height: 90vh;
  width: 85vw;
  background-color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box input {
  color: #32a8bd;
  height: 6%;
  padding: 5px;
  background: transparent;
  border: none;
  width: 80%;
  border-bottom: 2px solid #32a8bd;
  font-size: 1.5rem;
  font-weight: bold;
}

.box button {
  height: 60px;
  width: 120px;
  border-radius: 10px;
  color: white;
  background: transparent;
  font-size: 2.3rem;
  cursor: pointer;
  border: 2px solid #32a8bd;
  -webkit-transition: .3s;
  transition: .3s;
}

.box button:hover {
  background: #32a8bd;
  color: black;
}

.box textarea {
  height: 25%;
  max-height: 25%;
  width: 70%;
  max-width: 70%;
  padding: 2rem;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid #32a8bd;
  border-radius: 15px;
  color: #32a8bd;
}

.box p {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  color: white;
}

.box h1 {
  font-size: 4rem;
}

@media (min-width: 565px) {
  .box {
    padding: 2rem;
    height: 90vh;
    width: 85vw;
  }
  .box input {
    height: 6%;
    padding: 5px;
    width: 70%;
    font-size: 1.7rem;
  }
  .box button {
    height: 60px;
    width: 120px;
    font-size: 2.4rem;
  }
  .box textarea {
    height: 25%;
    max-height: 25%;
    width: 70%;
    max-width: 70%;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .box p {
    font-size: 2.2rem;
    margin-top: 2.2rem;
  }
  .box h1 {
    font-size: 5rem;
  }
}

@media (min-width: 746px) {
  .box {
    padding: 2rem;
    height: 80vh;
    width: 70vw;
  }
  .box input {
    height: 6%;
    padding: 5px;
    width: 70%;
    font-size: 1.7rem;
  }
  .box button {
    height: 60px;
    width: 120px;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .box textarea {
    height: 25%;
    max-height: 25%;
    width: 70%;
    max-width: 70%;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .box p {
    font-size: 2.2rem;
    margin-top: 2.2rem;
  }
  .box h1 {
    font-size: 5rem;
  }
}

@media (min-width: 900px) {
  .box {
    padding: 2rem;
    height: 80vh;
    width: 50vw;
  }
  .box input {
    height: 6%;
    padding: 5px;
    width: 60%;
    font-size: 1.7rem;
  }
  .box button {
    height: 60px;
    width: 120px;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .box textarea {
    height: 25%;
    max-height: 25%;
    width: 70%;
    max-width: 70%;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .box p {
    font-size: 2.2rem;
    margin-top: 2.2rem;
  }
  .box h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1150px) {
  .box {
    padding: 2rem;
    height: 80vh;
    width: 40vw;
  }
  .box input {
    height: 6%;
    padding: 5px;
    width: 50%;
    font-size: 1.7rem;
  }
  .box button {
    height: 60px;
    width: 120px;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .box textarea {
    height: 25%;
    max-height: 25%;
    width: 50%;
    max-width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .box p {
    font-size: 2.2rem;
    margin-top: 2.2rem;
  }
  .box h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1400px) {
  .box {
    padding: 2rem;
    height: 80vh;
    width: 30vw;
  }
  .box input {
    height: 6%;
    padding: 5px;
    width: 50%;
    font-size: 1.7rem;
  }
  .box button {
    height: 60px;
    width: 120px;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .box textarea {
    height: 25%;
    max-height: 25%;
    width: 50%;
    max-width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .box p {
    font-size: 2.2rem;
    margin-top: 2.2rem;
  }
  .box h1 {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=second.css.map */